<ion-header><ion-toolbar><ion-title>Login</ion-title></ion-toolbar></ion-header>

<ion-content class="ion-padding">
  <form (submit)="handleRegister()">
    <ion-input [(ngModel)]="email" name="email" label="Email" type="email" required></ion-input>
    <ion-input [(ngModel)]="password" name="password" label="Password" type="password" required></ion-input>
    <ion-button expand="block" type="submit">Registrarme</ion-button>
    <ion-button fill="clear" routerLink="/login">Ya tengo cuenta</ion-button>
  </form>
</ion-content>

